body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "nav nav nav nav"
    "aside main main main"
    "footer footer footer footer";
  height: 100vh;
  gap: 20px;
}

nav {
  grid-area: nav;
  background-color: rgb(42, 110, 165);
  text-align: center;
  padding: 100px;
}

main {
  grid-area: main;
  background-color: rgb(165, 56, 42);
  text-align: center;
  padding: 500px;
}

aside {
  grid-area: aside;
  background-color: rgb(145, 52, 121);
  text-align: center;
  padding: 100px;
}
footer {
  grid-area: footer;
  background-color: rgb(59, 168, 32);
  text-align: center;
  padding: 100px;
}
